In [3]:
import pandas as pd
import numpy as np
import dataprep.eda as eda
import requests
from io import BytesIO

1. Lectura de la base de datos

In [4]:
url = 'https://github.com/gonzalezulises/Reto_supermercado/raw/main/BASE%20PROBLEMA_1.xlsx'

In [11]:
base_problema = pd.read_excel(url,sheet_name=None)

In [12]:
df_datos = base_problema['PROBLEMA_1']

In [13]:
df_diccionario = base_problema['DICCIONARIO']

In [14]:
df_datos.head(5)

,enc,p5_1,p5_2,p5_3,p5_4,p5_5,p5_6,p5_7,p5_8,p5_9,p5_10,p5_11,p7_1,p7_2,p7_3,p7_4,p7_5,p7_6,p7_7,p8
0,1,9,8,8,9,9,9,8,7,8,7,7,10,10,10,9,10,10,10,8
1,2,10,10,10,10,10,10,10,10,10,10,10,9,10,10,10,10,10,10,10
2,3,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
3,4,10,10,10,10,5,10,10,10,10,10,10,8,10,10,10,10,10,10,10
4,5,10,10,10,10,10,9,10,10,10,9,9,10,10,10,10,10,10,10,10

In [15]:
df_diccionario.head(5)

  Variable                             Etiqueta
0      enc                   NUMERO DE ENCUESTA
1     p5_1           SOLUCION DADA EN LA TIENDA
2     p5_2                    AGILIDAD MOSTRADA
3     p5_3  INTERES MOSTRADO POR EL COLABORADOR
4     p5_4   AMABILIDAD Y TRATO DEL COLABORADOR